@import "element-variables";

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}
.loginDialog {
  height: 100%;
  align-items: center;
  > div {
    margin-top: -100px;
    width: 400px;
  }
}